[submodule "vendors/raylib"]
	path = vendors/raylib
	url = https://github.com/raysan5/raylib/
[submodule "vendors/LDtkLoader"]
	path = vendors/LDtkLoader
	url = https://github.com/Madour/LDtkLoader
[submodule "vendors/entt"]
	path = vendors/entt
	url = https://github.com/skypjack/entt
[submodule "vendors/rlImGui"]
	path = vendors/rlImGui
	url = https://github.com/raylib-extras/rlImGui
	ignore = dirty
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
    ignore = dirty
[submodule "vendors/tomlplusplus"]
	path = vendors/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "vendors/eigen"]
	path = vendors/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendors/box2d"]
	path = vendors/box2d
	url = https://github.com/erincatto/box2d
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog
